<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merk2 Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    <header>
        <div class="contenedor--header">
            <div class="header__div--logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo">
            </div>
                <input type="search" placeholder="Cuadro de búsqueda..." class="header__div--buscador">
                <button class="header__div__button--boton"><i class="fas fa-search"></i></button>
            <h2 class="header__div__h2--destacado">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito.</h2>
            <section>
                <nav = class="header__section__nav--listas">
                    <ul>
                        <li><a href="http://localhost:3030/ofertas">Ofertas</a></li>
                        <li><a href="http://localhost:3030/tiendasoficiales">Tiendas Oficiales</a></li>
                        <li><a href="http://localhost:3030/vender">Vender</a></li>
                        <li><a href="http://localhost:3030/ayuda">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://localhost:3030/creatucuenta">Creá tu cuenta</a>
                            <i class="fas fa-id-card"></i></li>
                        <li><a href="http://localhost:3030/ingresar">Ingresá</a>
                            <i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="http://localhost:3030/miscompras">Mis compras</a>
                            <i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </nav>
            </section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="banner">
        <img src="/img/img-home-banner.jpg" class="banner">
    </div>
    <main>
        <div class="contenedor--main">
            <div class="main__div--titulares">
                <h3>Basado en tu última visita</h3>
            </div>
            <section class="main__div__section--visita">
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$6.770</h4>
                        <p class="main__div__section__article__div--descuento">40% OFF.</p>
                        <h3 class="main__div__section__article__div--descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="/img/img-macbook-pro-2019.jpg" alt="macbook pro">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$230.000</h4>
                        <p class="main__div__section__article__div--descuento">20% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">MacBook Pro 2019</h3></li>
                    </div>
                </article>
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$70.500</h4>
                        <p class="main__div__section__article__div--descuento">10% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">Samsung Galaxy S10</h3></li>
                    </div>
                </article>
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="img/img-tv-samsung-smart.jpg" alt="smart tv">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$23.200</h4>
                        <p class="main__div__section__article__div--descuento">5% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">SmartTv Samsung 43''</h3></li>
                    </div>
                </article>
            </section>
            <div class="main__div--titulares">
                <h3>Ofertas</h3>
            </div>
            <section class="main__section--ofertas">
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$6.770</h4>
                        <p class="main__div__section__article__div--descuento">40% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="/img/img-macbook-pro-2019.jpg" alt="macbook pro">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$230.000</h4>
                        <p class="main__div__section__article__div--descuento">20% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$70.500</h4>
                        <p class="main__div__section__article__div--descuento">10% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="main__div__section__article--productos">
                    <img class="main__div__section__article__img--imagen" src="img/img-tv-samsung-smart.jpg" alt="smart tv">
                    <div class="main__div__section__article__div--descripciones">
                        <i class="fas fa-truck"></i>
                        <h4 class="main__div__section__article__div--precio">$23.200</h4>
                        <p class="main__div__section__article__div--descuento">5% OFF</p>
                        <h3 class="main__div__section__article__div--descripcion">SmartTv Samsung 43''</h3>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <div class="contenedor--footer">
            <section>
                <article class="footer__div__section__article--secciones">
                    <p class="fas fa-credit-card"></p>
                    <h4 class="footer__div__section--beneficios">Pagá con tarjeta o en efectivo</h4>
                    <p class="footer__div__section--texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article class="footer__div__section__article--secciones">
                    <p class="fas fa-gift"></p>
                    <h4 class="footer__div__section--beneficios">Envío gratis desde los $ 2.500</h4>
                    <p class="footer__div__section--texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article class="footer__div__section__article--secciones">
                    <p class="fas fa-user-shield"></p>
                    <h4 class="footer__div__section--beneficios">Seguridad de principio a fin</h4>
                    <p class="footer__div__section--texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </article>
                <div>
                    <p class="footer__div__section--copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>