:root {
    --ColorAmarillo: #EAC926;
    --ColorAzul: #03264C;
    --ColorCeleste: #1259c3;
    --ColorGrisOscuro: #666;
    --ColorGrisClaro: #ebebeb;
    --ColorVerde: #39b54a;
    --TamañoCuerposDetexto: 12px;
    --TamañoTitulares: 24px;
    --TamañoPrecios: 18px;
    --TamañoDescuentos: 16px;
    --TamañoDescripciones: 16px;
    --FuenteDeTexto: 'Roboto';
}

body {
    background-color: var(--ColorAmarillo);
    font-family: var(--FuenteDeTexto)
}
.body__header__div__p--busqueda{

}
.burger-menu {
    background-color: var(--ColorCeleste);
    color: white;
    max-width: 40px;
    max-height: 40px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}