:root {
    --ColorAmarillo: #EAC926;
    --ColorAzul: #03264C;
    --ColorCeleste: #1259c3;
    --ColorGrisOscuro: #666;
    --ColorGrisClaro: #ebebeb;
    --ColorVerde: #39b54a;
    --TamañoCuerposDetexto: 12px;
    --TamañoTitulares: 24px;
    --TamañoPrecios: 18px;
    --TamañoDescuentos: 16px;
    --TamañoDescripciones: 16px;
}

body {
    background-color: var(--ColorAmarillo);
    font-family: 'Roboto', sans-serif;
}